body {
    margin: 0;
    max-width: 100%;
    word-break: break-word;
    background-color: #3E2C41;
    color: #6E85B2;
}

img {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.container {
    display: grid;
    width: 98%;
    height: 70vw;
    gap: 5px;
    grid-template-columns: 1fr 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 100px 1fr 500px;
    margin: 5px;
}

.container div {
    padding: 5px;
    
}

  .top {
    background-image: url("fitladysquat.jpg");
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

  }

  .navbar{
    display: grid;
    float: top;
    grid-column: 6 / 9;
    grid-row: 1;
    grid-row-end: 2;
        
  }

  .formdiv {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
 

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  a {
    color:#5C527F;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }

  /* .sidebar {
    grid-column-start :2;
    grid-column-end: 3;
    grid-row-start: 6;  
    grid-row-end: 7;
  } */
  
  .maincontent {
    background-color:#191f2c;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 6;  
    grid-row-end: 7;
}

  .footer {
    background-color:#191f2c;
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 9;  
  } 

  #macros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#emailform{
    font-size: 1.2em;
}

#macroP {
    font-size: 1.3em;
}


@media all and (max-width: 576px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        align-content: space-around;

    }
}